@charset 'UTF-8';

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

nav.menu {
    background-color: red;
    width: 100%;
    height: 10vh;
    text-align: center;
    
    
}

nav.menu a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-top: 4vh;
    margin: 0 150px;

    

}

.menu a:hover {
    color: brown;
    font-size: 1em;
    text-decoration: underline;
    cursor: pointer;

}

header > h2 {
    margin-left: 10px;
    padding-top: 10px;
}
section.categoria {
    
    width: 15%;
    height: 100%;
    float: left;
    cursor: pointer;
    

    
}

section.categoria h3 {
    margin-left: 10px;
    padding: 10px 0px;

}
section.categoria > ul {
    display: block;
}
.categoria > ul > li {
    display: block;
    
    margin: 7px;
   border-bottom: 1px solid black;
}

section.produtos {
    width: 85%;
    
    float: left;
}


.box_produto {
    display: inline-block;
    width: 30%;
    margin: 10Px 10px;
   
}
.box_produto img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    
     
}
.descricao {
    text-align: center;
}
.preco{
    color: red;
    text-align: center;
    font-size: 1.2em;
}
div.foot {
    text-align: center;
    padding: 20px;
}

div.end {
    display: inline-block;
    padding-inline: 100px;
}

div.end > h3 {
    padding: 20px 0px;
}

div.end > p {
    line-height: 1.6em;
}

span.tel {
    padding: 20px;
    margin-left: 300px;
    font-weight: bold   ;

}

div.contato > form {
    padding-left: 20px;
    
}

div.contato form label {
    display: inline;
   
}

div.contato form input#inome {
    width: 300px;
    height: 25px;
    border-radius: 5px;
    margin: 5px 0px;
}

div.contato form textarea#imensagem {
    width: 300px;
    border-radius: 5px;
    margin: 10px 0px;
}

div.contato > form > input#envia, input#limpa {
    cursor: pointer;
    width: 150px;
    height: 30px;
    margin: 15px 0px;
    border-radius: 4px;
    
}

div.contato > form input#envia:hover{
    background-color: red;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

div.contato > form input#limpa:hover{
    background-color: red;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.foot {
    padding-top: 300px;
    
}

.foot > h4 {
   color: red;
    
}

 footer > p {
    color: blue;
    font-size: .9em;
    font-weight: bold;
    font-style: italic;
    padding: 20px;
    text-align: center;
}